{% extends "base.html" %}
{% block body %}
<p id="colors">{{ led_colors }}</p>

<br>
<form action="" method="get">
  <!-- this.checked=true is a hack to force the parameter to appear in the GET request. -->
  <input type="checkbox" name="set_power" autofocus value="{{ 'false' if turned_on else 'true' }}" {{ 'checked' if turned_on else '' }} onchange="this.checked=true; this.form.submit()">Set Power</input>
</form>
{{ selectors_html|safe }}

<script>
function httpGet(theUrl) {
  var xmlHttp = null;
  xmlHttp = new XMLHttpRequest();
  xmlHttp.open("GET", theUrl, false);
  xmlHttp.send(null);
  return xmlHttp.responseText;
}

function updateColors(timeout, num_updates) {
  document.getElementById("colors").innerHTML = httpGet("{{ host_url }}get_colors_html");
  if (num_updates > 0) {
    setTimeout(function(){ updateColors(timeout, num_updates - 1) }, timeout);
  }
}

updateColors(100, 1800);



</script>

{% endblock %}
